body{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    overflow-x: hidden;
    width: 100%;
    font-family: "LXGW WenKai Mono TC", monospace;
}
button, input, select, textarea {
    font-family: "LXGW WenKai Mono TC", monospace;
}
nav{
    background-color: rgb(42, 42, 44);
    width: 100vw;
    padding: 2vh;
    display: flex;
}
ul{
    list-style: none;
}
li{
    color: azure;
    font-size: 3.5vh;
    cursor: pointer;
    word-wrap: break-word;
}
img{
    height: 60vh;
}